<ion-view title="Avisos" hide-nav-bar="true" id="page7">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="avisos-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="avisos-slide24" style="background-color:#AD00FF;">
        <div class="spacer" style="width: 320px; height: 61px;"></div>
        <div>
          <img src="img/5S0ptYGLSO6xUZBWGxx8_best-seller.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div id="avisos-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">Você sabia que em pregões, ME e EPP possuem preferência na negociações de 5% sobre o valor contra outros concorrentes?</p>
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div id="avisos-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">Caso o ganhador seja empresas no porte "outros" a ME e EPP tem direito de negociar a oferta.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="avisos-slide27" style="background-color:#FF6600;">
        <div class="spacer" style="width: 320px; height: 61px;"></div>
        <div>
          <img src="img/rt4p0BzKQiwNfQx8jgMI_documents-outline.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div id="avisos-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">Em uma negociação, o ME e EPP pode ser habilitado, mesmo com irregularidades fiscais.</p>
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div id="avisos-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">Nestes casos, o negociante deve apresentar, obrigatoriamente, em até 5 dias úteis seus documentos em ordem.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="avisos-slide28" style="background-color:#2170D4;">
        <div class="spacer" style="width: 320px; height: 61px;"></div>
        <div>
          <img src="img/UDT75Ls3Q4a2VrxViCG1_exclusive.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div id="avisos-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">Em compras de até 80 mil reais</p>

          <p style="color:#000000;font-size:20px;">ME e EPP possuem exclusividade.</p>
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div id="avisos-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">Isso são benefícios garantidos em Lei!</p>
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div id="avisos-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">Lei 123/2016</p>

          <p style="color:#000000;font-size:20px;">e</p>

          <p style="color:#000000;font-size:20px;">Lei 147/2014</p>
        </div>
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <a ui-sref="ofertasDeCompras()" id="avisos-button3" class="button button-stable button-block">Ok, Entendi!</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>