<ion-view title="Detalhes OC" hide-nav-bar="true" id="page2">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="detalhesOC-heading9" style="color:#000000;">Detalhes da OC</h3>
    <ion-list id="detalhesOC-list3">
      <ion-item class="item-divider" id="detalhesOC-list-item-divider1"> Nº OC</ion-item>
      <label class="item item-input" id="detalhesOC-input15">
        <span class="input-label">010101000012014OC00192</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC-list-item-divider7"> Unidade Compradora</ion-item>
      <label class="item item-input" id="detalhesOC-input16">
        <span class="input-label">ASSEMBLEIA LEGISLATIVA</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC-list-item-divider6"> Endereço da UC</ion-item>
      <label class="item item-input" id="detalhesOC-input11">
        <span class="input-label">AV. PEDRO ALVARES CABRAL, 201</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC-list-item-divider2"> Telefone</ion-item>
      <label class="item item-input" id="detalhesOC-input12">
        <span class="input-label"> 011 3886-6262</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC-list-item-divider3"> Elemento de despesa</ion-item>
      <label class="item item-input" id="detalhesOC-input13">
        <span class="input-label">MATERIAL DE CONSUMO</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC-list-item-divider4"> Documentos Publicados</ion-item>
      <ion-item class="item-icon-left" id="detalhesOC-list-item2">
        <i class="icon ion-document"></i>EDITAL (.DOC) - 282 KB</ion-item>
      <ion-item class="item-icon-left" id="detalhesOC-list-item3">
        <i class="icon ion-document"></i>EDITAL ANEXO (.DOC) - 64 KB</ion-item>
      <ion-item class="item-divider" id="detalhesOC-list-item-divider5"> Entrega de Proposta</ion-item>
      <label class="item item-input" id="detalhesOC-input14">
        <span class="input-label">26/05/2018 00:00 A 14/06/2018 14:30</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="detalhesOC-list8">
      <ion-item class="item-icon-right" id="detalhesOC-list-item9">173 Visualizações
        <i class="icon ion-ios-eye-outline"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <h4 id="detalhesOC-heading2" style="color:#000000;text-align:center;">Você tem interesse nesta OC?</h4>
    <div id="detalhesOC-button-bar4" class="button-bar">
      <a ui-sref="tabsController.simOC()" id="detalhesOC-button21" class="button button-balanced button-block">Sim</a>
      <a ui-sref="tabsController.nOOC()" id="detalhesOC-button23" class="button button-assertive button-block">Não</a>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <button id="detalhesOC-button26" class="button button-stable button-block">Voltar</button>
  </ion-content>
</ion-view>