<ion-view title="Detalhes OC 2" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="detalhesOC2-heading8" style="color:#000000;">Detalhes da OC</h3>
    <ion-list id="detalhesOC2-list9">
      <ion-item class="item-divider" id="detalhesOC2-list-item-divider10"> Nº OC</ion-item>
      <label class="item item-input" id="detalhesOC2-input9">
        <span class="input-label">010101000012014OC00192</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC2-list-item-divider11"> Unidade Compradora</ion-item>
      <label class="item item-input" id="detalhesOC2-input10">
        <span class="input-label">ASSEMBLEIA LEGISLATIVA</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC2-list-item-divider12"> Endereço da UC</ion-item>
      <label class="item item-input" id="detalhesOC2-input19">
        <span class="input-label">AV. PEDRO ALVARES CABRAL, 201</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC2-list-item-divider13"> Telefone</ion-item>
      <label class="item item-input" id="detalhesOC2-input20">
        <span class="input-label"> 011 3886-6262</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC2-list-item-divider14"> Elemento de despesa</ion-item>
      <label class="item item-input" id="detalhesOC2-input21">
        <span class="input-label">MATERIAL DE CONSUMO</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="detalhesOC2-list-item-divider15"> Documentos Publicados</ion-item>
      <ion-item class="item-icon-left" id="detalhesOC2-list-item11">
        <i class="icon ion-document"></i>EDITAL (.DOC) - 282 KB</ion-item>
      <ion-item class="item-icon-left" id="detalhesOC2-list-item12">
        <i class="icon ion-document"></i>EDITAL ANEXO (.DOC) - 64 KB</ion-item>
      <ion-item class="item-divider" id="detalhesOC2-list-item-divider16"> Entrega de Proposta</ion-item>
      <label class="item item-input" id="detalhesOC2-input22">
        <span class="input-label">26/05/2018 00:00 A 14/06/2018 14:30</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="detalhesOC2-list10">
      <ion-item class="item-icon-right" id="detalhesOC2-list-item15">174 Visualizações
        <i class="icon ion-ios-eye-outline"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="detalhesOC2-button-bar5" class="button-bar"></div>
    <a ui-sref="tabsController.detalhesOC()" id="detalhesOC2-button28" class="button button-stable button-block">Voltar</a>
  </ion-content>
</ion-view>