<ion-view title="Inicio" hide-nav-bar="true" id="page5">
  <ion-content padding="false" style="background: url(img/gzNYU7MSQc2N865KFmbp_fundo_app.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div>
      <img src="img/csS8QR4BQcKUHN3Y7kiR_bec2.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <h5 id="inicio-heading1" style="color:#000000;text-align:center;">Seu guia definitivo de compras públicas</h5>
    <div class="spacer" style="width: 300px; height: 126px;"></div>
    <a ui-sref="login()" id="inicio-button1" class="button button-positive button-block">LOGIN</a>
  </ion-content>
</ion-view>