<ion-view title="Itens OC" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="itensOC-form5" class="list">
      <label class="item item-input" id="itensOC-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Informe o código ou nome">
      </label>
    </form>
    <ion-list id="itensOC-list4">
      <ion-item id="itensOC-list-item4" ui-sref="tabsController.dadosItem()">BARBANTE DE ALGODAO
        <span class="item-note">Qtd: 4</span>
      </ion-item>
      <ion-item id="itensOC-list-item6">CLIPE DE ACO, PARALELO
        <span class="item-note">Qtd: 300</span>
      </ion-item>
      <ion-item id="itensOC-list-item7">CORRETIVO DE PAPAELARIA
        <span class="item-note">Qtd: 24</span>
      </ion-item>
      <ion-item id="itensOC-list-item8">PINCEL ATOMICO
        <span class="item-note">Qtd: 12</span>
      </ion-item>
      <ion-item id="itensOC-list-item5">PINCEL P/QUADRO BRANCO
        <span class="item-note">Qtd: 12</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 104px;"></div>
    <div id="itensOC-button-bar3" class="button-bar">
      <button id="itensOC-button17" class="button button-positive button-small button-block icon ion-arrow-left-a"></button>
      <button id="itensOC-button18" class="button button-light button-small button-block">1 de 10</button>
      <button id="itensOC-button19" class="button button-positive button-small button-block icon ion-arrow-right-a"></button>
    </div>
  </ion-content>
</ion-view>