<ion-view title="Localização" hide-nav-bar="true" id="page4">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8iHXfnSXQPSPF8X3zPkn_map2.jpg" style="display: block; width: 100%; height: 128%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <ion-list id="localizaO-list5">
      <ion-item class="item-divider" id="localizaO-list-item-divider8"> Endereço de Entrega</ion-item>
      <label class="item item-input" id="localizaO-input17">
        <span class="input-label">AV. PEDRO ALVARES CABRAL, 201</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="localizaO-list7">
      <ion-item class="item-divider" id="localizaO-list-item-divider9"> Distância</ion-item>
      <label class="item item-input" id="localizaO-input18">
        <span class="input-label">37,3 KM</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <button id="localizaO-button20" class="button button-positive button-block icon-left ion-map">Visualizar no Mapa</button>
  </ion-content>
</ion-view>