<ion-view title="Não-OC" hide-nav-bar="true" id="page11">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h4 id="nOOC-heading5" style="color:#000000;text-align:center;">Não tenho interesse...</h4>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="nOOC-heading6" style="color:#000000;font-weight:400;text-align:center;">Tudo bem! Você deseja informar o motivo de não participar desta OC?</h4>
    <form id="nOOC-form6" class="list">
      <ion-checkbox id="nOOC-checkbox1">Distância</ion-checkbox>
      <ion-checkbox id="nOOC-checkbox2">Quantidade Pequena</ion-checkbox>
      <ion-checkbox id="nOOC-checkbox3">Concorrência</ion-checkbox>
      <ion-checkbox id="nOOC-checkbox4">Investimento</ion-checkbox>
      <ion-checkbox id="nOOC-checkbox5">Outros</ion-checkbox>
    </form>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.detalhesOC2()" id="nOOC-button8" style="left:-10px;" class="button button-positive button-full">Salvar</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.detalhesOC2()" id="nOOC-button9" style="left:-10px;" class="button button-stable button-full">Não desejo informar</a>
    </div>
  </ion-content>
</ion-view>