<ion-view title="Ofertas de Compras" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="ofertasDeCompras-form3" class="list">
      <label class="item item-input" id="ofertasDeCompras-search1" name="Filtro">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Informe a OC, Unidade ou Situação">
      </label>
    </form>
    <div id="ofertasDeCompras-markdown17" class="show-list-numbers-and-dots"></div>
    <div id="ofertasDeCompras-markdown29" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="ofertasDeCompras-markdown20" class="show-list-numbers-and-dots">
      <ul>
        <li>
          <p style="margin-top:0px;color:#000000;font-size:10px;">
            <strong>TRIBUNAL DE CONTAS DO ESTADO</strong>
          </p>
          <p style="color:#000000;font-size:10px;">080264000012018OC00001</p>
          <p style="color:#000000;font-size:10px;">AGUARDANDO RECEBIMENTO DE PROPOSTAS</p>
        </li>
      </ul>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.detalhesOC()" id="ofertasDeCompras-button14" style="left:-10px;font-weight:lighter;" class="button button-positive button-small button-full">Visualizar</a>
    </div>
    <div id="ofertasDeCompras-markdown24" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="ofertasDeCompras-markdown21" class="show-list-numbers-and-dots">
      <ul>
        <li>
          <p style="margin-top:0px;color:#000000;font-size:10px;">
            <strong>SECRETARIA DA EDUCACAO</strong>
          </p>
          <p style="color:#000000;font-size:10px;">080264000012018OC00001</p>
          <p style="color:#000000;font-size:10px;">AGUARDANDO RECEBIMENTO DE PROPOSTAS</p>
        </li>
      </ul>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.detalhesOC()" id="ofertasDeCompras-button15" style="left:-10px;font-weight:lighter;" class="button button-positive button-small button-full">Visualizar</a>
    </div>
    <div id="ofertasDeCompras-markdown25" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="ofertasDeCompras-markdown22" class="show-list-numbers-and-dots">
      <ul>
        <li>
          <p style="margin-top:0px;color:#000000;font-size:10px;">
            <strong>TRIBUNAL DE JUSTICA MILITAR</strong>
          </p>
          <p style="color:#000000;font-size:10px;">080264000012018OC00001</p>
          <p style="color:#000000;font-size:10px;">AGUARDANDO RECEBIMENTO DE PROPOSTAS</p>
        </li>
      </ul>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.detalhesOC()" id="ofertasDeCompras-button16" style="left:-10px;font-weight:lighter;" class="button button-positive button-small button-full">Visualizar</a>
    </div>
    <div id="ofertasDeCompras-button-bar1" class="button-bar">
      <button id="ofertasDeCompras-button11" class="button button-positive button-small button-block icon ion-arrow-left-a"></button>
      <button id="ofertasDeCompras-button12" class="button button-light button-small button-block">1 de 10</button>
      <button id="ofertasDeCompras-button13" class="button button-positive button-small button-block icon ion-arrow-right-a"></button>
    </div>
  </ion-content>
</ion-view>