<ion-view title="Pré-Cadastro" hide-nav-bar="true" id="page8">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <form id="prCadastro-form2" class="list">
      <div>
        <img src="img/csS8QR4BQcKUHN3Y7kiR_bec2.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <ion-list id="prCadastro-list2">
        <label class="item item-input" id="prCadastro-input7">
          <span class="input-label">Razão Social</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="prCadastro-input4">
          <span class="input-label">CNPJ</span>
          <input type="number" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="prCadastro-input6">
        <span class="input-label">Nome Responsável</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="prCadastro-input3">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="prCadastro-input8">
        <span class="input-label">Telefone</span>
        <input type="tel" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <div id="prCadastro-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:11px;">
          <em>Para pregões será necessário completar o seu cadastro posteriormente enviando suas documentações.</em>
        </p>
      </div>
      <a ui-sref="avisos()" id="prCadastro-button4" class="button button-positive button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>